.btn {
  padding: 10px 20px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  margin: 5px;
  font-size: 14px;
}

.primary {
  background: #2e68b1;
  color: white;
}

.secondary {
  background: #eee;
  color: #333;
}

.danger {
  background: #e53935;
  color: white;
}