.card {
  width: 300px;
  padding: 20px;
  text-align: center;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  background: white;
  margin: 40px auto;
  font-family: Arial, sans-serif;
   flex-wrap: wrap;
}

.avatar {
  width: 100px;
  border-radius: 50%;
  margin-bottom: 15px;
}

.title {
  color: #666;
  margin: 5px 0;
}

.desc {
  font-size: 14px;
  color: #555;
  margin: 10px 0 20px;
}

.btn {
  background: #2e68b1;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 6px;
  cursor: pointer;
}

.btn:hover {
  background: #1f4d8a;
}

.name {
  color: black;
}
